<mat-card routerLink="/pokemons" class="allignCenter mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar  class="example-header-image"></div>
      <mat-card-title>Search for pokemons</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        View all the known Pokemon or search them by name.
      </p>
    </mat-card-content>

</mat-card>

<mat-card routerLink="/addPokemon" class="allignCenter mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Add a new Pokemon</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        Register a Pokemon on the Pokedex.
      </p>
    </mat-card-content>

</mat-card>

