<div *ngFor="let pokemon of pokemons">
    <mat-card padding [routerLink]="[ '../pokemonDetails', pokemon.id]" class="allignCenter mat-elevation-z8">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" ></div>
          <mat-card-title>{{pokemon.name}} </mat-card-title>
          <mat-card-subtitle>#{{pokemon.game_indices}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        <img mat-card-image class="pokemonPicture" src="{{pokemon.sprites}}"> 
        </mat-card-content>
    </mat-card>


</div>

